{% extends 'base.html.twig' %}
{% block title %}Noa aime les burgouz!{% endblock %}
{% block body %}
    <h5 class="card-title">{{ burger.name }}  </h5>
    <img src="{{ burger.image }}"/>
{% endblock %}
